.picture-grid {
    &:not(.empty) {
        background: #ffffff;
        padding: 20px;
        padding-bottom: 50px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 50px;

        .picture {
            background-color: transparent;

            img {
                max-width: 100%;
                cursor: pointer;
            }
        }
    }
    &.empty {
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
}

.ant-alert {
    text-align: left;
}

.img-modal .ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
        max-width: 100%;
    }
}