.search-bar {
    .ant-select {
        width: 50vw;

        .ant-select-selection:hover,
        .ant-select-selection:focus {
            border: none;
        }
    }
    .ant-select-open .ant-select-arrow-icon svg {
        transform: none;
    }
}

.searches.hidden {
    display: none;
}